<div class="home-container">
  <header class="hero">
    <h1>Welcome to Silicon University !</h1>
    <p>Where Ideas Meet Reality.</p>
    <button (click)="scrollToSection('about')">Learn More</button>
  </header>

  <section id="about" class="section">
    <h2>About Us</h2>
    <p>
      Silicon University combines a commitment to providing the best engineering education with supporting India’s development in science and technology through rigorous academic programs, promoting fundamental and applied research, and fostering innovation and entrepreneurship.
    </p>
  </section>

  <footer class="footer">
    <p>&copy; Silicon University. All rights reserved.</p>
  </footer>
</div>
