<div class="team-container">
  <h2>Select a Team</h2>

  <div class="team-grid">
    <button
      *ngFor="let team of teamlist"
      (click)="showTeam(team.key)"
      class="team-button"
    >
      {{ team.name }}
    </button>
  </div>

  <!-- Team Component Display -->
  <div class="team-details" *ngIf="selectedTeam">
    <ng-container [ngSwitch]="selectedTeam">
      <app-team1 *ngSwitchCase="'TEAM 1'"></app-team1>
      <app-team2 *ngSwitchCase="'TEAM 2'"></app-team2>
      <app-team3 *ngSwitchCase="'TEAM 3'"></app-team3>
      <app-team4 *ngSwitchCase="'TEAM 4'"></app-team4>
      <app-team5 *ngSwitchCase="'TEAM 5'"></app-team5>
      <app-team6 *ngSwitchCase="'TEAM 6'"></app-team6>
      <app-team7 *ngSwitchCase="'TEAM 7'"></app-team7>
      <app-team8 *ngSwitchCase="'TEAM 8'"></app-team8>
      <app-team9 *ngSwitchCase="'TEAM 9'"></app-team9>
      <app-team10 *ngSwitchCase="'TEAM 10'"></app-team10>
      <p *ngSwitchDefault>Component not found for this team.</p>
    </ng-container>

    <button class="back-button" (click)="clearSelection()">Back</button>
  </div>
</div>
